<% if current_user && logged_in? %>

<h1>Welcome! <%= current_user.username %></h1>

index.erb

<% if flash.has?(:message) %>
<h3>  <%= flash[:message] %> </h3>
<% end %>

<ul>
<% current_user.pages.each do |p| %>
<li> <p>Title:  <%= p.title %> </p>
  <p>Content:   <%= p.content %>  </p>
<a href="/pages/<%= p.id %>/edit">Edit Page</a>
<a href="/pages/<%= p.id %>">View Page</a>
<% end %>
</ul>

<br><br><hr>
<a href="/pages/new">Create New Page</a>
<a href="/users/logout">Logout</a>

<% else %>
<h1>You must be logged in to view this page! Nice try!</h1>
<% end %>
