
<h1>Welcome <%=@user.username%>!</h1>

<% if flash.has?(:message) %>
<h3>  <%= flash[:message] %> </h3>
<% end %>

<% @user.pages.each do |p| %>
<p>Title: <%= p.title %>  Content: <%= p.content %></p>
<a href="/pages/<%= p.id%>/edit">Edit Page</a>
<% end %>

<a href="/pages/<%= @user.id %>/new">Create New Page</a>
